div{
    background-color: hsl(0, 77%, 71%);
    width: 100px;
    height: 100px;
    display: inline block;
}

span{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: inline-block;
}