h1{
border: 3px solid hsl(270, 50%, 40%);
border-radius: 20px;

   /* border: solid;
    border-width: 3px;
    border-color: hsl(271, 76%, 53%);
    border-radius: 10ex;
 */
}

p{
border-bottom: 3px solid rgb(255, 0, 0);
 border-top: 3px solid yellow;    
 border-left: 3px solid orange;
 border-right: 3px solid green;

 border-radius: 10px;
}